# Symfony2
/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/

# Thumbnails
._*

# vim backup
*.swp

# Mac OS X
.DS_Store

# Phpstorm
.idea

# Composer
composer.lock